  * {
  box-sizing: border-box;
}
{
  font-size: 14px;
}
.v10_2 {
  width: 100%;
  height: 600px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_8 {
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.bgimg img{
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_19 {
  width: 100%;
  height: 832px;
  background: url("../images/v6_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.b1 a{
  width: 432px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 250px;
  left: 600px;
  font-family: Arial Rounded MT Bold;
  font-weight: Regular;
  text-decoration: none;
  font-size: 20px;
  opacity: 1;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background: fff;
  width: 162px;
  height: 44px;
}

.b1 a:hover{
  width: 432px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 250px;
  left: 600px;
  font-family: Arial Rounded MT Bold;
  font-weight: Regular;
  text-decoration: none;
  font-size: 20px;
  opacity: 1;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background: rgba(98,182,183,1);
  width: 162px;
  height: 44px;
}
.b2 a{
  width: 432px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 300px;
  left: 600px;
  font-family: Arial Rounded MT Bold;
  font-weight: Regular;
  text-decoration: none;
  font-size: 20px;
  opacity: 1;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background: fff;
  width: 162px;
  height: 44px;
}

.b2 a:hover{
  width: 432px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 300px;
  left: 600px;
  font-family: Arial Rounded MT Bold;
  font-weight: Regular;
  text-decoration: none;
  font-size: 20px;
  opacity: 1;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background: rgba(98,182,183,1);
  width: 162px;
  height: 44px;
}
.b3 a{
  width: 432px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 350px;
  left: 600px;
  font-family: Arial Rounded MT Bold;
  font-weight: Regular;
  text-decoration: none;
  font-size: 20px;
  opacity: 1;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background: fff;
  width: 162px;
  height: 44px;
}

.b3 a:hover{
  width: 432px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 350px;
  left: 600px;
  font-family: Arial Rounded MT Bold;
  font-weight: Regular;
  text-decoration: none;
  font-size: 20px;
  opacity: 1;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background: rgba(98,182,183,1);
  width: 162px;
  height: 44px;
}
.b4 a{
  width: 432px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 400px;
  left: 600px;
  font-family: Arial Rounded MT Bold;
  font-weight: Regular;
  text-decoration: none;
  font-size: 20px;
  opacity: 1;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background: fff;
  width: 162px;
  height: 44px;
}

.b4 a:hover{
  width: 432px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 400px;
  left: 600px;
  font-family: Arial Rounded MT Bold;
  font-weight: Regular;
  text-decoration: none;
  font-size: 20px;
  opacity: 1;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background: rgba(98,182,183,1);
  width: 162px;
  height: 44px;
}
.b5 a{
  width: 432px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 450px;
  left: 600px;
  font-family: Arial Rounded MT Bold;
  font-weight: Regular;
  text-decoration: none;
  font-size: 20px;
  opacity: 1;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background: fff;
  width: 162px;
  height: 44px;
}

.b5 a:hover{
  width: 432px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 450px;
  left: 600px;
  font-family: Arial Rounded MT Bold;
  font-weight: Regular;
  text-decoration: none;
  font-size: 20px;
  opacity: 1;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background: rgba(98,182,183,1);
  width: 162px;
  height: 44px;
}
.v5_18 {
  width: 640px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 97px;
  left: 504px;
  font-family: Arial Rounded MT Bold;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v5_17 {
  width: 461px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 65px;
  left: 144px;
  font-family: Fuzzy Bubbles;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.v8_24 {
  width: 263px;
  height: 309px;
  background: url("../images/v8_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 281px;
  overflow: hidden;
}
.v8_30 {
  width: 149px;
  height: 42px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 850px;
  overflow: hidden;
}

}
.v8_28 {
  width: 37px;
  height: 35px;
  background: url("../images/v8_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 525px;
  left: 1155px;
  overflow: hidden;
}


.wrapper {
  position: absolute;
  top: 560px;
  left: 750px;
  margin-left: 30px;
  transform: translate(-50%, -50%);
  width: 500px;
  
}
/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 35px;
  height: 35px;
  line-height: 15px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 45px;
  border: 2px  #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: 0px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 2px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 2px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 2px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 2px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

